SYS_DATABASE_URL="postgresql://braaaaam:password@postgres:5432/sys"
ORG_DATABASE_URL="postgresql://braaaaam:password@postgres:5432/org"

# Email Configuration
SMTP_HOST=mail.domain.com
SMTP_PORT=587
SMTP_USER=your-username
SMTP_PASS=your-password
SMTP_FROM_EMAIL=noreply@yourdomain.com
SMTP_FROM_NAME=AtlasConnect